@use "../../../styles/helpers/variables" as *; 

.cards {
    padding-top: 25px;

    &_ctg {
        padding: 0;
    }

    &__br {
        display: none;
    }

    &__spec {
        position: relative;  
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, minmax(360px, auto));
        grid-template-rows: minmax(322px, auto);
        column-gap: 25px;
        row-gap: 20px;
        padding-top: 30px;

        &_ctg {
            grid-template-columns: repeat(3, minmax(360px, auto));
            grid-template-rows: repeat(3, minmax(441px, auto));
            grid-auto-rows: auto;
            column-gap: 38px;
            row-gap: 38px;
            padding: 0;
        }

        &_obj {
            grid-template-rows: minmax(370px, auto);
        }
    }

    &__footer {
        display: flex;
        position: relative;
        align-items: center;
        margin-top: 31px;
    }

    a.cards__more {
        position: relative;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: $brown;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: auto;
            right: -42px;
            transform: translateY(-50%);
            width: 36px;
            height: 8px;
            background: url("../img/icons/icon_card-arrow.svg");
        }

    }

    &__arrow {
        width: 36px;
        height: 1px;  
        margin-left: 6px;
        color: $brown; 
    }

    &__hr {
        margin-top: 14px;
        margin-bottom: 0;
    }

    &-item {
        position: relative;
        cursor: pointer;
        border: 1px solid $white;
        border-radius: 10px;

        &_ctg {
            border: 1px solid $white;
            border-radius: 10px;
        }

        &_obj {
            margin-top: 78px;
            width: 491px;
            border: none;
            cursor: default;
        }

        &_obj-sm {
            border: 1px solid $white;
            border-radius: 10px;
        }

        &__img {
            width: 100%;
            max-height: 254px;

            &_obj {
                max-height: unset;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        &__body {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding: 22px 15px 21px 19px;

            &_ctg {
                padding-bottom: 13px;
            }

            &_obj-sm {
                padding-bottom: 6px;
            }
        }

        &__name {
            font-weight: 500;
            font-size: 20px;
            color: $brown;
        }

        &__gray {
            font-weight: 300;
            font-size: 10px;
            text-transform: uppercase;
            color: $white;
        }

        &__descr {
            font-weight: 300;
            font-size: 12px;
            color: $gray;
            padding: 0 25px 0 27px;

            &_obj {
                padding: 0; 
                font-size: 14px;
                line-height: 14px;

                div {
                    margin-top: 10px;
                }
            }
        }

        &__hr {
            margin: 18px 0 22px 0;

            &_obj {
                margin: 20px 0 20px 0;
            }
        }

        &__footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 12px 0 25px;

            &_obj {
                max-width: 273px;
                margin-top: 20px;
                padding: 0;
            }

            &_obj-sm {
                padding: 0 15px 0 19px;
            } 
        }

        &__rate {
            display: flex;
            align-items: center;
        }

        &__rate-num, &__rew-text {
            font-weight: 300;
            font-size: 14px;
            color: $gray;
        }

        &__rate-num {
            margin-right: 6px;
        }

        &__stars {
            display: flex;
            align-items: flex-start;
            width: 16px;
            height: 16px;
            margin-right: 6px;

            img {
                width: 16px;
                height: 16px;
            }
        }

        &__rew {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        &__rew-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 6px;
            width: 17px;
            height: 16px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 15px;
            right: 16px;
            width: 38px;
            height: 38px;
            border-radius: 100%; 
            background-color: #fff; 
            cursor: pointer;

            svg {
                max-width: 21px;
                max-height: 19px;
                object-fit: contain;
                fill: #fff;
            }

            &_active {
                svg {
                    fill: $middle-blue;
                }
            }

            &_obj {
                top: 0;
                right: 10px;
            }
        }
    }

    &__lines {
        position: absolute;
        bottom: -59px;
        width: 237px;
        height: 136px;

        &_rest {
            left: 679px;
        }

        &_hotels {
            right: 241px;
        }

        &_gids {
            right: 241px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }

    .cards {
        &__wrapper{
            grid-template-columns: repeat(4, minmax(260px, auto));
            grid-template-rows: minmax(305px, auto);
            grid-auto-rows: minmax(305px, auto);
            column-gap: 15px;

            &_ctg {
                grid-template-columns: repeat(3, minmax(260px, 310px));
                grid-template-rows: repeat(3, minmax(441px, auto));
                grid-auto-rows: minmax(441px, auto);
                column-gap: 13px;
            }

            &_obj {
                grid-template-rows: minmax(333px, auto);
            }
        } 

        &-item {
            &_obj {
                width: 415px;
            }
        }
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }
    .cards {
        &__wrapper{
            grid-template-rows: minmax(270px, auto);
            grid-auto-rows: minmax(270px, auto);
            
            &_ctg {
                grid-template-columns: repeat(3, minmax(240px, 260px));
                column-gap: 8px;
            }
        }
        
        &-item {
            &_obj {
                width: 315px;
                margin-top: 37px;
            }
            
            &__footer {
                &_ctg {
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    min-height: 50px;
                }

                &_obj {
                    margin-top: 10px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }

    .cards {
        &__wrapper{
            grid-template-columns: repeat(4, minmax(230px, auto));
            grid-template-rows: auto;
            column-gap: 10px;

            &_ctg {
                grid-template-columns: repeat(2, minmax(260px, 315px));
                column-gap: 10px;
            }

            &_obj {
                grid-template-rows: minmax(260px, auto);
            }
        } 

        &-item {
            &_ctg {
                padding-bottom: 24px;
            }

            &_obj {
                width: 50%;
                margin-top: 0;
            }

            &__footer {
                &_ctg {
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    min-height: unset;
                }
            }
            
            &__icon {
                top: 9px;
                right: 7px;
                width: 34px;
                height: 34px;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 648px;
    }

    .cards {
        &__wrapper{
            grid-template-columns: repeat(2, minmax(300px, auto));
            column-gap: 10px;
            row-gap: 20px;

            &_ctg {
                grid-template-columns: minmax(260px, 350px);
                column-gap: unset;
                row-gap: 20px;
            }

            &_obj {
                grid-template-rows: minmax(330px, auto);
                grid-auto-rows: minmax(330px, auto);
                row-gap: 20px;
            }
        } 

        &-item {
            &_obj {
                width: 100%;
            }
        }

        &__lines {
            left: 50%; 
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .cards {
        &-item {
            &_obj {
                max-width: 100%;
            }

            &__img {
                width: 100%;
                max-height: 253px;

                img {
                width: 100%;
                max-height: 253px;
                object-fit: cover;
                }
            }

            &__descr {
                &_ctg {
                    div {
                        max-width: 220px;
                        margin-top: 6px;
                    }
                }
            }

            &__body {
                &_ctg {
                    padding-top: 33px;
                    padding-bottom: 17px;
                }
            }

            &__footer {
                &_ctg {
                    padding-left: 13px;
                }

                &_obj {
                    margin-top: 20px;
                    padding-left: 0;
                }

                &_obj-sm {
                    padding: 0 15px 0 19px;
                }
            }

            &__icon {
                top: 12px;
                right: 10px;
                width: 38px;
                height: 38px;

                &_obj {
                    top: 0;
                    right: 0;
                }
            }
        }

        &__wrapper{
            display: block;

            &_ctg {
                display: grid;
                grid-template-columns: minmax(343px, 360px);
                row-gap: 30px;
                margin-top: 78px;
            }

            &_obj {
                display: grid;
                justify-content: center;
                grid-template-columns: repeat(2, minmax(265px, 300px));
            }
        } 

        &__lines {
            left: 67px;
            bottom: -27px;
            width: 118px;
            height: 67px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 16px;
    }

    .cards {
        padding-top: 25px;  

        &__br {
            display: block;
        }

        hr {
            margin: 0;
            margin-top: 27px;
        } 

        &__wrapper {
            padding-top: 20px;

            &_ctg {
                padding-top: 0;
                grid-template-rows: minmax(464px, auto);
                grid-auto-rows: minmax(464px, auto);
                row-gap: 28px;
            }

            &_obj {
                grid-template-columns: minmax(343px, 360px);
            }

            &_obj {
                grid-template-rows: repeat(4, minmax(386px, auto));
                padding-top: 0;
                margin-top: 44px;
                row-gap: 30px;
            }
        }

        &__footer {
            display: none;
        }

        &-item {
            width: 100%;
            height: 322px;
            border: 1px solid $white;
            border-radius: 10px;

            &_ctg {
                height: unset;
                padding-bottom: 24px;

                hr {
                    margin: 20px 0 18px 0;
                }
            }

            &_obj {
                padding-bottom: 0;
                border: none;
            }

            &_obj-sm {
                height: unset;
                padding-bottom: 26px;
            }

            &__gray {
                margin-top: 3px;
            }

            &__body {
                align-items: center;
                padding: 33px 13px 16px 13px;  
                
                &_ctg {
                    padding-top: 33px;
                    padding-bottom: 17px;
                }
            }

            &__descr {
                &_ctg {
                    padding-left: 13px;
                    line-height: 15px;

                    div {
                        margin-top: 0;
                    }
                }

                &_obj {
                    padding: 0;
                    margin-top: 2px;
                    line-height: 18px;

                    div {
                        margin-top: 6px;
                    }
                }
            }

            &__icon {
                top: 8px;
                right: 9px; 

                &_obj {
                    top: 0;
                    right: 0;
                }
            }
        }
    }

    .cards .tns-nav {
        margin-top: 20px;
    }
}

@media (max-width: 375px) {
    .container {
        max-width: 100%;
        padding: 0 16px;
    }

    .cards {
        &_ctg {
            padding-top: 0;
        }

        &__wrapper {
            &_ctg {
                grid-template-columns: auto;
            }
        }
    }
}