@use "../../../styles/helpers/variables" as *; 

.title {
    margin: 0 auto;
    font-weight: 500;
    font-size: 126px;
    text-transform: uppercase;
    text-align: center;
    color: $brown;

    &_fz48 {
        font-size: 48px;
    }

    &_fz28 {
          font-size: 28px; 
          text-align: left;
    }

    &_fz38 {
        font-size: 38px;
    }

    &_fz60 {
        font-size: 60px;
    }

    &_tal {
        text-align: left;
    }

    &_mt60 {
        margin-top: 60px;
    }

    &_mg0 {
        margin: 0;
    }

    &_tb {
        margin: 60px 0 30px 0;
    }

    &_mt66 {
        margin-top: 66px;
    }

    &_mw244 {
        max-width: 244px;
    }

    &_lh35 {
        line-height: 35px;
    }
}

.subtitle {
    font-weight: 500;
    font-size: 39px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }

    .title {
        font-size: 118px;

        &_fz48 {
            font-size: 42px;
        }

        &_fz28 {
            font-size: 26px;    
        }

        &_fz38 {
            font-size: 38px;
        }

        &_fz60 {
            font-size: 60px;
        }

        &_obj-m {
            font-size: 38px;  
        }
    }

    .subtitle {
        font-size: 34px;
    } 
}

@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }

    .title {
        font-size: 116px;

        &_fz48 {
            font-size: 40px;
        }

        &_fz28 {
            font-size: 24px;    
        }

        &_fz38 {
            font-size: 38px;
        }

        &_fz60 {
            font-size: 60px;
        }

        &_obj-m {
            font-size: 38px;  
        }

    }

    .subtitle {
        font-size: 32px;
    } 

}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 648px;
    }

    .title {
        font-size: 118px;

        &_fz48 {
            font-size: 46px;
        }

        &_fz28 {
            font-size: 28px;    
        }

        &_fz38 {
            font-size: 36px;
        }

        &_fz60 {
            font-size: 60px;
        }
    }

    .subtitle {
        font-size: 34px;
    } 
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .title {
        font-size: 110px;

        &_fz48 {
            font-size: 36px;    
        }

        &_fz28 {
            font-size: 28px;    
        }

        &_fz38 {
            font-size: 32px;
        }

        &_mw244 {
            max-width: 244px;
            margin: 0 auto;
            text-align: center;
        }

        &_fz60 {
            font-size: 60px;
        }

        &_tal {
            text-align: center;
        }

        &_obj-m {
            font-size: 35px;
            line-height: 45px;
            text-align: left;
        }
    }

    .subtitle {
        font-size: 33px;
    } 
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 16px;
    }

    .title {
        font-size: 57px;

        &_fz48 {
            font-size: 30px;  
        }

        &_fz28 {
            font-size: 20px;
        }

        &_fz38 {
            font-size: 30px;
        }

        &_mt60 {
            margin-top: 40px;
            line-height: 38px;
        }

        &_mg0 {
            margin: 0 auto;
        }

        &_mt66 {
            margin-top: 0;
        }

        &_mw244 {
            max-width: 244px;
            margin: 0 auto;
            text-align: center;
            font-size: 28px;
            line-height: 37px;
        }

        &_tal {
            text-align: center;
        }

        &_lh-m {
            line-height: 73px;
        }

        &_obj-m {
            text-align: left;
        }
    }

    .subtitle {
        font-size: 14px;
    } 
}