@use "../../../styles/helpers/variables" as *; 

.object {
    padding-top: 60px;

    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 60px;

    }

    &-item {
        &__title {
            line-height: 62px;
        }
    }

    &-slider {
        &__item {
        border-radius: 10px;
        width: 133px;
        height: 96px;
        cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        } 
    }

    &__slider-wrap {
        position: relative;
        padding: 28px 0 16px 0;
    }

    &__arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
        cursor: pointer;

        &_prev {
            top: 0;
        }

        &_next {
            bottom: -9px;
        }

        svg {
            width: 24px;
            height: 24px;
            fill: $middle-blue;
        }
    }

    &__view {
        display: flex;
        align-items: center;

    }

    &__focus-box {
        width: 493px;
        margin-left: 23px;
        transition: all 0.3s;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.3s;
        }
    }

    &__map {
        width: 360px;
        height: 354px;
        border-radius: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__bottom {
        margin-top: 60px;
    }

    &__tab {
        &_active {
            padding-bottom: 5px;
            color: $middle-blue;
            border-bottom: 4px solid $middle-blue;
        }
    }

    &__content {
        margin-top: 30px;
    }

    &-table {
        display: grid;
        grid-template-columns: repeat(2, 493px);
        grid-template-rows: repeat(4, minmax(56px, auto));
        column-gap: 1px;
        width: 986px;

        &__item {
            padding: 18px 13px;
            font-weight: 300;
            font-size: 16px;
            line-height: 16px;
            color: $gray;
            background-color:#e2e2e2;;

            &:nth-child(4n+3),  &:nth-child(4n) {
                background-color: #f0f0f0;
            }

            /* &_light {
                background-color: #f0f0f0;
            } */

            /* &_dark {
                background-color:#e2e2e2;;
            } */

            &_fz14 {
                font-size: 14px;
            }
        }
    }


}