@font-face {
    font-family: 'Geologica';
    font-display: swap;
    src:url('../fonts/geologica-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica';
    font-display: swap;
    src:url('../fonts/geologica-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}